* {
  box-sizing: border-box;
}
.mainContainer {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  background-color: #221a367c;
  background-color: #221a367c;
  width: 100vw;
  height: 5rem;
  min-height: fit-content;
  flex-wrap: wrap;
}
.label {
  font-size: 150%;
  font-family: var(--mainFont);
  margin-inline-end: 2rem;
  color: var(--light);
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
