:root {
  /* Colours */
  --primary: #ec4b71;
  --info: #221a36;
  --infoTransparent: #221a36a1;
  --success: #7c915a;
  --warning: #f98122;
  --danger: #f44336;
  --grey: #c6c9c3;
  --light: #fbfef8;

  /* Fonts */
  --mainFont: 'Merriweather', serif;
  --textFont: 'Ubuntu', sans-serif;
  --smallFont: 'Roboto Slab', serif;
}
.App {
  width: 100vw;
  height: 100vh;
}
/* font-family: 'Merriweather', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif; */
