.mainContainer {
  background-color: var(--info);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 20%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1;
  font-size: 1.6;
}
